black
click
mypy-extensions
pathspec
platformdirs
tomli
typing-extensions
python-decouple
kafka-python
fastapi
uvicorn
pydantic==1.10.0a1
watchfiles
jinja2
websockets
pymongo
sqlalchemy
psycopg2-binary
redis

